.single-thumb .range-slider__thumb[data-lower] {
  width: 0;
}
.range-slider__thumb[data-upper] {
 background: #22F38F !important;
 width: 12px;
 height: 12px;
 border: 1px solid white ;
}
.range-slider__range {
  background: #22F38F !important;
  width: 100%;
   border-radius: 50px !important;

}
.single-thumb{
  background: #303030 !important;
  padding-top: 4px !important;
  border-radius: 5px;
}