@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  direction: rtl !important;
  background: #1E1E1E;
  font-family: Peyda-Normal;
}

@font-face {
  font-family: Peyda-Semibold;
  src: url('../../public/assests/fonts/PeydaFaNum-SemiBold.ttf');
}

@font-face {
  font-family: Peyda-Normal;
  src: url('../../public/assests/fonts/PeydaFaNum-Medium.ttf');
}
.Blurred{
  display: none;
}

.Button:hover>.Blurred {
  display: block;
}

.Button:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 243, 143, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(34, 243, 143, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(34, 243, 143, 0.2);
}

.BoxShadow {
  -webkit-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.2);
}
.ThirdBG{
  background-position-y: -40px;
  background-position-x: -20px;
  background-size: 80%
}

.home-bg {
  background: url("../../public/assests/images/bg/HomePage.png");
  background-size: cover;
}

.header-cart-background {
  background: rgba(50, 50, 50, 0.4);
}

.shadow-1 {

  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
}

.header-shadow-cart {
  -webkit-box-shadow: 0px 0px 44px rgba(255, 255, 255, 0.06);
  -moz-box-shadow: 0px 0px 44px rgba(255, 255, 255, 0.06);
  box-shadow: 0px 0px 44px rgba(255, 255, 255, 0.06);
}

@layer components {}


@layer base {
  span {
    @apply inline-block;
  }
}

@layer utilities {
  .blue-shadow {
    box-shadow: 0px 6px 20px rgba(45, 116, 255, 0.16);
  }
}

/* border-bottom: 1px solid #2D74FF; */


