@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  direction: rtl !important;
  background: #1E1E1E;
  font-family: Peyda;
}
@font-face {
  font-family: Peyda;
  src: url('../fonts/PeydaFaNum-SemiBold.ttf');
}
.Blurred{
  display: none;
}
.Button:hover > .Blurred{
  display: block;
}
.Button:hover{
  -webkit-box-shadow: 0px 0px 10px 0px rgba(34,243,143,0.2);
-moz-box-shadow: 0px 0px 10px 0px rgba(34,243,143,0.2);
box-shadow: 0px 0px 10px 0px rgba(34,243,143,0.2);
}
.BoxShadow{
  -webkit-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.2);
box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.2);
}