@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  direction: rtl !important;
  background: #1E1E1E;
  font-family: Peyda-Normal;
}

@font-face {
  font-family: Peyda-Semibold;
  src: url('../../public/assests/fonts/PeydaFaNum-SemiBold.ttf');
}

@font-face {
  font-family: Peyda-Normal;
  src: url('../../public/assests/fonts/PeydaFaNum-Medium.ttf');
}
.Blurred{
  display: none;
}

.Button:hover>.Blurred {
  display: block;
}

.Button:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 243, 143, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(34, 243, 143, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(34, 243, 143, 0.2);
}

.BoxShadow {
  -webkit-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.2);
}
.ThirdBG{
  background-position-y: -40px;
  background-position-x: -20px;
  background-size: 80%
}

.home-bg {
  background: url("../../public/assests/images/bg/HomePage.png");
  background-size: cover;
}

.currency-bg {
  background: url("../../public/assests/Icons/polygan.svg");
  background-size: cover;
}

.rating-background {
  background: url("../../public/assests/Icons/polygan2.svg");
  background-size: cover;
}

.header-cart-background {
  background: rgba(50, 50, 50, 0.4);
}

.shadow-1 {

  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
}

.shadow-blue {
  box-shadow: 0px 6px 6px rgba(45, 116, 255, 0.12), inset 2px 2px 8px rgba(255, 255, 255, 0.12), inset -1px -1px 6px rgba(0, 0, 0, 0.12);

}

.green-shadow {
  box-shadow: 0px 6px 16px rgba(34, 243, 143, 0.08);
}

.price-background {
  background: rgba(62, 62, 62, 0.48);
}

.header-shadow-cart {
  -webkit-box-shadow: 0px 0px 44px rgba(255, 255, 255, 0.06);
  -moz-box-shadow: 0px 0px 44px rgba(255, 255, 255, 0.06);
  box-shadow: 0px 0px 44px rgba(255, 255, 255, 0.06);
}


@layer components {}


@layer base {
  span {
    @apply inline-block;
  }
  .box {
    @apply box-background box-shadow-1 border-2 border-[#373737] rounded-[52px] p-8;
  }
  .box-1 {
    @apply box-background-3 box-shadow-2 rounded-[32px] p-6 border border-transparent hover:border-[#22F38F] hover:box-shadow-green transition ease-in-out duration-500;
  }
  .box-2 {
    @apply box-background box-shadow-1 border-2 border-[#565656] rounded-[20px] p-2;
  }
  .box-3 {
    @apply box-background box-shadow-1 border-2 border-[#565656] rounded-[40px] p-8;
  }
  .title-text-1 {
    @apply text-white font-semibold text-2xl;
  }
}

@layer utilities {
  .blue-shadow {
    box-shadow: 0px 6px 20px rgba(45, 116, 255, 0.16);
  }
  .box-background {
    background: rgba(50, 50, 50, 0.36);
  }
  .box-background-3 {    
    background: rgba(54, 54, 54, 0.48);
  }
  .box-shadow-1 {
    box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.04);
  }
  .box-shadow-2 {
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.12);
  }
  .box-shadow-green {
    box-shadow: 0px 8px 32px rgba(34, 243, 143, 0.12);
  }
  .box-shadow-green-2 {
    box-shadow: 0px 0px 16px rgba(15, 182, 148, 0.16), inset 2px 2px 16px rgba(255, 255, 255, 0.16), inset -1px -1px 16px rgba(0, 0, 0, 0.12);
  }
  .box-shadow-orange {
    box-shadow: 0px 8px 20px rgba(243, 148, 34, 0.12);
  }
}

.InputShadow:focus{
  -webkit-box-shadow: 0px 8px 12px 0px rgba(34,243,143,0.12);
-moz-box-shadow: 0px 8px 12px 0px rgba(34,243,143,0.12);
box-shadow: 0px 8px 12px 0px rgba(34,243,143,0.12);
}

/* border-bottom: 1px solid #2D74FF; */


